html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-div {
  width: 50%;
  margin: 0 auto;
}

.disclaimer {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  text-align: center;
}

.card-heading{
  font-size: 36px;
  font-family: fantasy;
}

.card-body{
  background-color:  	#00d062;
  color: white;
  margin-left: 300px;
  margin-right: 300px;
  font-family: fantasy;
}

.card-text{
  font-size: 24px;
  font-family: fantasy;
}

button {
  padding: 10px 20px; 
  font-size: 18px; 
}
